{%extends 'base.html'%}
{%block content%}
<main>
        <h1>My Categories</h1>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Number of receipts</td>
                </tr>
            </thead>
            <tbody>
                {% for categories in categories_list%}
                <tr>
                    <td>{{categories.name}}</td>
                    <td>{{categories.receipts.all|length}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
</main>
{%endblock content%}
