{% extends 'base.html'%}
{% block content%}
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <td>Vendor</td>
                <td>Total</td>
                <td>Tax</td>
                <td>Date</td>
                <td>Category</td>
                <td>Account</td>
            </tr>
        </thead>
        <tbody>
            {% for item in receipts %}
            <tr>
                <td>{{item.vendor}}</td>
                <td>{{item.total}}</td>
                <td>{{item.tax}}</td>
                <td>{{item.date|date:"m/d/y"}}</td>
                <td>{{item.category}}</td>
                <td>{{item.account}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content%}
